<div id="playing-container" class="lobby-container">
    <div id="{{.SelfPlayerID}}" class="self-player-container">
        <input id="self-hidden-input" type="text" class="player-hidden-input">
        <h2 id="player-name-{{.SelfPlayerName}}" class="player-name">{{.SelfPlayerName}}</h2>
        <div class="letters-container">
            <div class="letter letter-filled">{{printf "%c" (index .Word 0)}}</div>
            <div class="letter letter-filled">{{printf "%c" (index .Word 1)}}</div>
            <div class="letter letter-filled">{{printf "%c" (index .Word 2)}}</div>
            <div class="letter letter-filled">{{printf "%c" (index .Word 3)}}</div>
            <div class="letter letter-filled">{{printf "%c" (index .Word 4)}}</div>                               
        </div>
        <div class="center-button">
            <input type="hidden" id="letters-value" name="body" value="">
            <input type="hidden" id="targetPlayer" name="body" value="">
            <input type="hidden" id="guessWord-type" name="type" value="guessWord">
            <button id="send-word-button" class="send-word-button-container" hx-ws="send:submit" hx-include="#letters-value,#targetPlayer,#guessWord-type" type="button" onclick="resetPointer()">Guess Word</button>
        </div>
    </div>
    {{range .OtherPlayers}}
        {{if ne .Name $.SelfPlayerName}}
            <div id="id-{{.ID}}" class="player-container">
                <h2 id="player-name-{{.Name}}" class="player-name">{{.Name}}</h2>
                <div class="letters-container" id="letters-container-typable-{{.ID}}">
                    <div class="letter"></div>
                    <div class="letter"></div>
                    <div class="letter"></div>
                    <div class="letter"></div>
                    <div class="letter"></div>                               
                </div>
            </div>
        {{end}}
    {{end}}
</div>