<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <title>HTMX WebSocket Example</title>
        <link rel="stylesheet" type="text/css" href="/static/styles.css">
        <script src="https://unpkg.com/htmx.org@1.9.12"></script>
        <script src="https://unpkg.com/htmx.org@1.9.12/dist/ext/ws.js"></script>
        <script src="/static/game.js"></script>
        <script src="/static/general.js"></script>
    </head>
    <body>
        <div hx-ext="ws" ws-connect="{{.WsURL}}">
            <div id="playing-container" class="lobby-container">
                <h1 class="lobby-code">Lobby: {{.LobbyID}}</h1>
                <div id="player-container" class="self-player-container">
                    <input id="self-hidden-input" type="text" class="player-hidden-input">
                    <h2 id="player-name" class="player-name">{{.PlayerName}}</h2>
                    <div class="letters-container">
                        <div class="letter"></div>
                        <div class="letter"></div>
                        <div class="letter"></div>
                        <div class="letter"></div>
                        <div class="letter"></div>                               
                    </div>
                    <div class="center-button">
                        <input type="hidden" id="letters-value" name="body" value="">
                        <input type="hidden" id="updateLetter-type" name="type" value="updateLetter">
                        <input type="hidden" id="setWord-type" name="type" value="setWord">
                        <button id="send-word-button" class="send-word-button-container" hx-ws="send:submit" hx-target="#player-name" hx-include="#letters-value,#setWord-type" type="button">Set Word</button>
                    </div>
                    <div class="center-button">
                        <input type="hidden" id="startGame-type" name="type" value="startGame">
                        <button class="start-game-button" id="start-game" ws-send hx-include="#startGame-type" type="button">Start Game</button>
                    </div>
                </div>
                <h4 id="error-text-0" class="error-text"></h4>
                <div id="player-list" class="player-list">
                </div>
            </div>
        </div>
        <script>
            document.body.addEventListener('htmx:afterSettle', function(event) {
                console.log('Content settled, re-executing scripts');
                attachEventListeners();
            });
        </script>
    </body>
</html>