<div hx-swap-oob="beforeend:#player-list">
    <div class="lobby-player-container" id="lobby-player-container-{{.PlayerName}}">
        <h4 id="player-name-{{.PlayerName}}" class="lobby-player">{{.PlayerName}}</h4>
        <div class="lobby-letter-container">
            <div class="lobby-letter"></div>
            <div class="lobby-letter"></div>
            <div class="lobby-letter"></div>
            <div class="lobby-letter"></div>
            <div class="lobby-letter"></div>
        </div>
    </div>
</div>

