<div id="player-container" class="self-player-container">
    <input id="self-hidden-input" type="text" class="player-hidden-input">
    <div class="player-name-checkmark-box">
        <span id="invalid-word-error" class="invalid-word-error">&#10008;</span>
        <span class="checkmark">&#10004;</span> <h2 id="player-name" class="player-name">Steve</h2>
    </div>
    <div class="letters-container">
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>
        <div class="letter"></div>                               
    </div>
    <div class="center-button">
        <button id="send-word-button" class="send-word-button-container" onclick="">Set Word </button> 
    </div>
</div>