body {
    font-family: "Montserrat", Arial, sans-serif;
    background-color: #292929; /* Updated background color */
    color: #fff; /* White text */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.window-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.align-trailing {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.index-page-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 100vh;
    min-width: 100vw;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 50vh;
}

.index-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 50vh;
    min-width: 70vw;
}

.title {
    font-size: 6.5em; /* Larger font size */
    font-weight: bold; /* Bold text */
    color: #ffffff; /* White text color */
    margin-bottom: 20px; /* Space below the title */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle shadow */
}

.title-highlight {
    color: #74e880; /* Red highlight */
}

.input-container {
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    width: 80%; 
    margin-top: 20px; 
    margin-bottom: 20px;
}

.input-field {
    width: 80%;
    padding: 15px;
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    background-color: #373737; 
    color: #fff; 
    box-shadow: none; 
    outline: none; 
    autocomplete: off; /* Turn off autocomplete */
}   

.title-button-container {
    display: flex;
    justify-content: space-between;
    min-width: 50vw;
    min-height: 10vh;
}

.server-create-button {
    font-size: 24px; 
    margin: 0px 10px; 
    text-align: center;
    color: #4CAF50;
    min-width: 30%;
    background-color: #525252;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

.join-game-button {
    font-size: 24px; 
    margin: 0px 10px; 
    text-align: center;
    color: #ffffff;
    min-width: 30%;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}

.start-game-button {
    font-size: 24px; 
    margin: 0px 10px; 
    text-align: center;
    color: #ffffff;
    min-width: 20%;
    background-color: #888888;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.start-game-button-ready {
    background-color: #74e880;
}

.server-created-text {
    font-size: 24px; /* Bigger text */
    margin: 20px 0; /* Spaced out */
    text-align: center; /* Centered text */
    justify-content: center;
    align-items: center;
    color: #4CAF50; /* Green color */
    max-height: 10vh;
}

.input-field::placeholder {
    color: #888888; /* Change to desired color */
}


/* LOBBY STYLES */

.self-player-name {
    display: flex;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    color: #ffffff;
    text-align: center; /* Center text */
    
    width: 120px;
    max-width: 120px;
}

.player-name {
    display: flex;
    padding: 5px 10px;
    border-radius: 4px;
    font-weight: bold;
    color: #888888;
    text-align: center; /* Center text */
    
    width: 120px;
    max-width: 120px;
}

.send-button-spacer {
    width: 66.6px;
    height: 0; /* No height, only width */
}

.player-container-clicked .player-name {
    color: #74e880;
}

.player-container-clicked .self-player-name {
    color: #74e880;
}

.player-list {
    margin-top: 20px;
}


.player-list-item {
    margin-bottom: 5px;
}

.lobby-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.player-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.player-list {
    text-align: center;
}

.letters-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.guess-results-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.letters-vertical-stack-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    gap: 20px; /* Add 20px vertical space between items */
}

.send-word-button-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
    padding-right: 20px;
    width: 50px;
    cursor:pointer;
}

.send-word-button {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  font-size: 36px;
  color: #888888;
}

.send-word-button-ready {
    
    color: #fff;
  }

.invalid-word-error {
    display: none;
}

.invalid-word-visible {
    color: red;
    font-size: 24px;
}

.letter {
    width: 60px;
    height: 80px;
    background-color: #525252;
    margin-right: 15px;
    
}

.letter-filled {
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
  }

.letter-correct {
    background-color: #4CAF50;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}   

.letter-partially-correct {
    background-color: #fccd49;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

.letter-filled-self {
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
}

.player-container-clicked .letter-highlight {
    background-color: #888888;
}

.player-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    flex-grow: 1;
    padding: 20px;
    width: 600px;

}

.self-player-container {
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding: 20px;
    width: 600px;

}

.something-else-entirely {
    display: flex;
    flex-direction: row; 
    align-items: center;
    padding: 20px;
    width: 600px;

}

.player-container-clicked {
    background-color: #373737;
}

/* Hide the checkmark by default */
.checkmark {
    display: none;
}

.checkmark-ready {
    display: inline;
    font-size: 24px;
    color: green;
}

.player-name-checkmark-box {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-grow: 1;
}

/* Media query for mobile devices */
@media (max-width: 600px) {
    body {
        flex-direction: column;
        padding: 20px;
    }

    .container {
        width: 100%;
    }

    input[type="text"] {
        font-size: 1.2em;
        padding: 10px;
    }

    button {
        width: 100%;
        padding: 10px;
        font-size: 1.2em;
    }
}

/* Media query for desktop devices */
@media (min-width: 601px) {
    .container {
        width: 50%;
    }

    input[type="text"] {
        font-size: 1.5em;
        padding: 15px;
    }

    button {
        width: auto;
        padding: 15px;
        font-size: 1.5em;
    }
}

/* Add specific styles for mobile devices */
body.mobile .container {
    width: 100%;
}

body.mobile input[type="text"] {
    font-size: 1.2em;
    padding: 10px;
}

body.mobile button {
    width: 100%;
    padding: 10px;
    font-size: 1.2em;
}

/* Add specific styles for desktop devices */
body.desktop .container {
    width: 50%;
}

body.desktop input[type="text"] {
    font-size: 1.5em;
    padding: 15px;
}

body.desktop button {
    width: auto;
    padding: 15px;
    font-size: 1.5em;
}

